[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "assignments-3-and-later-VorlonGuyverOss"]
	path = assignments-3-and-later-VorlonGuyverOss
	url = git@github.com:cu-ecen-aeld/assignments-3-and-later-VorlonGuyverOss.git
